.button {
  display: block;
  width: 164px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 34px;
  background-color: var(--chicken);
  border-color: transparent;
  border-radius: 10px;

  @include font($fw: 600, $fs: 14px, $lh: 1.29);
  color: var(--darkest);

  transition: background-color 250ms linear, color 250ms linear;

  &:hover,
  &:focus {
    background-color: var(--hover);
  }
  &:focus {
    color: var(--light);
  }
}
