<section class="advantages">
  <div class="container advantages__container">
    <ul class="advantages__list">
      <li class="advantages__item">
        <span class="advantages__wrapper">
          <svg
            width="36px"
            height="36px"
            class="advantages__svg advantages__svg--cow"
          >
            <use href="./images/icons.svg#icon-cow"></use>
          </svg>
        </span>
        <h2 class="advantages__title title">721</h2>
        <p class="advantages__text subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__wrapper">
          <svg
            width="36px"
            height="36px"
            class="advantages__svg advantages__svg--weight"
          >
            <use href="./images/icons.svg#icon-weight"></use>
          </svg>
        </span>
        <h2 class="advantages__title title">16kg</h2>
        <p class="advantages__text subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <span class="advantages__wrapper">
          <svg
            width="36px"
            height="36px"
            class="advantages__svg advantages__svg--ice-cream"
          >
            <use href="./images/icons.svg#icon-ice-cream"></use>
          </svg>
        </span>
        <h2 class="advantages__title title">84</h2>
        <p class="advantages__text subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
