<div class="mobile-menu" data-menu>
  <div class="container mobile-menu__container">
    <a href="./index.html" class="logo mobile-menu__logo">
      <svg class="logo__icon">
        <use href="./images/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <button type="button" class="mobile-menu-close" data-menu-close>
      <svg width="32" height="32">
        <use href="./images/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <ul class="mobile-menu-nav">
      <li class="mobile-menu-nav__item">
        <a href="./index.html" class="mobile-menu-nav__link">Home</a>
      </li>
      <li class="mobile-menu-nav__item">
        <a
          href="#how-its-made"
          class="mobile-menu-nav__link mobile-menu-nav__link_dark"
          >How it’s made?</a
        >
      </li>
      <li class="mobile-menu-nav__item">
        <a href="#products" class="mobile-menu-nav__link">Our products</a>
      </li>
      <li class="mobile-menu-nav__item">
        <a href="#contact" class="mobile-menu-nav__link">Contact</a>
      </li>
    </ul>
    <button
      class="button button-buy-now mobile-menu__button"
      type="button"
      data-modal-open
    >
      <span class="button-buy-now__text">Buy now</span>
      <svg class="button-buy-now__icon" width="12" height="12">
        <use href="./images/icons.svg#icon-arrow-bth"></use>
      </svg>
    </button>
  </div>
</div>
