<section id="contact" class="contacts">
    <div class="container container-contacts">
        <h2 hidden class="contact-title hidden-heading">contacts</h2>
        <ul class="contact-list">
            <li class="contact-list__item">
                <p class="contact-list__loc-type">CAFE</p>
                <div class="contact-list__city-comp-address">
                    <p class="contact-list__city">Chicago</p>
                    <a class="contact-list__company-address" href="">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a>
                </div>
                <div class="contact-list__days-hours">
                    <p class="contact-list__week-days">Monday - Friday</p>
                    <p class="contact-list__hours">06:00 AM - 10:00 PM</p>
                    <p class="contact-list__week-days">Saturday - Sunday</p>
                    <p class="contact-list__hours">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contact-list__email-number">
                    <a class="contact-list__phone-number" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contact-list__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>
            <li class="contact-list__item">
                <p class="contact-list__loc-type">FOOD TRUCK</p>
                <div class="contact-list__city-comp-address">
                    <p class="contact-list__city">Los Angeles</p>
                    <a class="contact-list__company-address" href="">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a>
                </div>
                <div class="contact-list__days-hours">
                    <p class="contact-list__week-days">Monday - Friday</p>
                    <p class="contact-list__hours">06:00 AM - 10:00 PM</p>
                    <p class="contact-list__week-days">Saturday - Sunday</p>
                    <p class="contact-list__hours">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contact-list__email-number">
                    <a class="contact-list__phone-number" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contact-list__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>
            <li class="contact-list__item">
                <p class="contact-list__loc-type">CAFE</p>
                <div class="contact-list__city-comp-address">
                    <p class="contact-list__city">New York</p>
                    <a class="contact-list__company-address" href="">726 Sterling Pl, Brooklyn, NY 11222, USA</a>
                </div>
                <div class="contact-list__days-hours">
                    <p class="contact-list__week-days">Monday - Friday</p>
                    <p class="contact-list__hours">06:00 AM - 10:00 PM</p>
                    <p class="contact-list__week-days">Saturday - Sunday</p>
                    <p class="contact-list__hours">08:00 AM - 16:00 PM</p>
                </div>
                <div class="contact-list__email-number">
                    <a class="contact-list__phone-number" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contact-list__email" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </div>
            </li>
        </ul>

        <ul class="contact-btn-list">
            <li class="contact-btn-list__item">
                <button class="button contact-btn-list__loc" data-modal-open_map type="button">Our Location
                    <svg width="7" height="10" class="contact-btn-list__loc-icon">
                        <use href="./images/icons.svg#icon-arrow-bth"></use>
                    </svg>
                </button>
            </li>
            <li class="contact-btn-list__item">
                <button class="button contact-btn-list__franch" data-modal-open type="button">Franchise
                    <svg width="7" height="10" class="contact-btn-list__franch-icon">
                        <use href="./images/icons.svg#icon-arrow-bth"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</section>
