<section class="customer-reviews-section">
  <div class="container">
    <h2 class="visually-hidden">Customer reviews</h2>
    <ul class="slider-track">
      <li class="slide active">
        <picture>
          <source
            srcset="
              ./images/reviews/reviewer-photo-1.webp     1x,
              ./images/reviews/reviewer-photo-1-@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/reviews/reviewer-photo-1.jpg     1x,
              ./images/reviews/reviewer-photo-1-@2x.jpg 2x
            "
          />
          <img
            src="./images/reviews/reviewer-photo-1.jpg"
            alt="photo of first reviewer"
            class="slide__img"
            width="85"
            height="85"
          />
        </picture>
        <p class="review">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </p>
        <p class="reviewer-inf">Emily, Los Angeles</p>
      </li>
      <li class="slide">
        <picture>
          <source
            srcset="
              ./images/reviews/reviewer-photo-2.webp     1x,
              ./images/reviews/reviewer-photo-2-@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/reviews/reviewer-photo-2.jpg     1x,
              ./images/reviews/reviewer-photo-2-@2x.jpg 2x
            "
          />
          <img
            src="./images/reviews/reviewer-photo-2-@2x.jpg"
            alt="photo of second reviewer"
            class="slide__img"
            width="85"
            height="85"
          />
        </picture>
        <p class="review">
          Ice cream is my passion! I love your chocolate hazelnut ice cream! And
          I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="reviewer-inf">Diana, Chicago</p>
      </li>
      <li class="slide">
        <picture>
          <source
            srcset="
              ./images/reviews/reviewer-photo-3.webp     1x,
              ./images/reviews/reviewer-photo-3-@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/reviews/reviewer-photo-3.jpg     1x,
              ./images/reviews/reviewer-photo-3-@2x.jpg 2x
            "
          />
          <img
            src="./images/reviews/reviewer-photo-3-@2x.jpg"
            alt="photo of third reviewer"
            class="slide__img"
            width="85"
            height="85"
          />
        </picture>
        <p class="review">
          I love eating popsicles on a hot day. Yours is always delicious. I
          recommend your cafe to everyone I know.
        </p>
        <p class="reviewer-inf">Sam, Los Angeles</p>
      </li>
      <li class="slide">
        <picture>
          <source
            srcset="
              ./images/reviews/reviewer-photo-4.webp     1x,
              ./images/reviews/reviewer-photo-4-@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/reviews/reviewer-photo-4.jpg     1x,
              ./images/reviews/reviewer-photo-4-@2x.jpg 2x
            "
          />
          <img
            src="./images/reviews/reviewer-photo-4-@2x.jpg"
            alt="photo of forth reviewer"
            class="slide__img"
            width="85"
            height="85"
          />
        </picture>
        <p class="review">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="reviewer-inf">Bryan, New-York</p>
      </li>
    </ul>
<button type="button" class="slider-track__btn btn-prev"></button>
<button type="button" class="slider-track__btn btn-next"></button>
    <div class="slider-track__dots dots">
      <span class="slider-track__dot dot active"></span>
      <span class="slider-track__dot dot"></span>
      <span class="slider-track__dot dot"></span>
      <span class="slider-track__dot dot"></span>
    </div>
  </div>
</section>
