<footer class="footer">
    <div class="container footer-content">
        <div class="content">
            <p class="content__text">homemade ice cream made</p>
            <p class="content__deck">with passion</p>
        </div>
        <div class="footer-contacts">
            <ul class="footer-socials">
                <li class="footer-socials__item"><a href="https://github.com/" target="_blank"
                        class="footer-socials__link"><svg class="footer-socials__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-github"></use>
                        </svg></a></li>
                <li class="footer-socials__item"><a href="https://telegram.org/" target="_blank"
                        class="footer-socials__link"><svg class="footer-socials__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-telegram"></use>
                        </svg></a></li>
                <li class="footer-socials__item"><a href="https://www.facebook.com/" target="_blank"
                        class="footer-socials__link"><svg class="footer-socials__icon" width="20" height="20">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg></a></li>
            </ul>
            <a href="tel:+610383766284" class="footer-contacts__link">Feel free to contact <span
                    class="footer-contacts__tel">&nbsp;+61 (0) 383 766
                    284</span></a>
        </div>
        <p class="copyright__text">&copy; 2022 - IceCream.
            All Rights Reserved.</p>
    </div>
</footer>