<div class="backdrop is-hidden" data-modal_franchise>
    <div class="modal-franchise">
        <button type="button" class="modal__close" data-modal-close_franchise>
            <svg class="modal-close-icon" width="12px" height="12px">
                <use href="./images/icons.svg#icon-close-btn">
            </svg>
        </button>
        <h3 class="modal-franchise-title"><b>Thank you for your <br> interest in owning an <br> Ice Cream shop</b></h3>
        <p class="modal-franchise-info">
            Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at
            this time. Once
            the application process resumes, we will contact you for further information. Please fill out the contact
            information
            below and we will reach out for additional information. We appreciate your patience.
        </p>
        <form autocomplete="off">
            <div class="modal-franchise-field">
                <div class="modal-franchise-input-wrap">
                    <input class="modal-franchise-input" type="text" name="name" required placeholder="Name">
                </div>
            </div>
            <div class="modal-franchise-field">
                <div class="modal-franchise-input-wrap">
                    <input class="modal-franchise-input" type="tel" name="tel" required placeholder="Phone">
                </div>

            </div>
            <div class="modal-franchise-field">
                <div class="modal-franchise-input-wrap">
                    <input class="modal-franchise-input" type="email" name="email" required
                        placeholder="Email">
                </div>
            </div>

            <div class="modal-textarea">
                <textarea class="modal-textarea-input modal-franchise-input" name="comment" rows="10"
                    placeholder="Comment"></textarea>
            </div>

            <button type="submit" class="modal-franchise-button">Submit</button>
        </form>
    </div>

</div>