<header class="header">
  <div class="container">
    <nav class="main-nav">
      <a href="./index.html" class="logo">
        <svg class="logo__icon">
          <use href="./images/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="main-nav-list">
        <li class="main-nav-list__item">
          <a class="main-nav-list__link" href="./index.html">Home</a>
        </li>
        <li class="main-nav-list__item">
          <a class="main-nav-list__link" href="#how-its-made">How it’s made?</a>
        </li>
        <li class="main-nav-list__item">
          <a class="main-nav-list__link" href="#products">Our products</a>
        </li>
        <li class="main-nav-list__item">
          <a class="main-nav-list__link" href="#contact">Contact</a>
        </li>
      </ul>
      <button type="button" class="mobile-menu-open" data-menu-open>
        <svg width="20" height="20">
          <use href="./images/icons.svg#icon-Burger"></use>
        </svg>
      </button>
      <button
        class="button-buy-now header__button"
        type="button"
        data-modal-open
      >
        <span class="button-buy-now__text">Buy now</span>
        <svg class="button-buy-now__icon" width="12" height="12">
          <use href="./images/icons.svg#icon-arrow-bth"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
