<div class="backdrop is-hidden" data-modal_ingridient>
    <div class="modal-ingridient">
        <button type="button" class="modal__close" data-modal-close_ingridient>
            <svg class="modal-close-icon" width="12px" height="12px">
                <use href="./images/icons.svg#icon-close-btn">
            </svg>
        </button>
        <h3 class="modal-title-ingridient"><b>Chololate icecream</b></h3>
        <div class="icecream-ingridient">
            <span class="circle-ingridient">
                <picture class="photo-ingridient">
                    <source 
                        media="(min-width: 480px)"
                        srcset="
                        ./images/modal/pc-tablet-modal-icecream.webp   1x,
                        ./images/modal/pc-tablet-modal-icecream@2x.webp   2x"
                        type="image/webp"/>
                    <source media="(min-width: 480px)" 
                        srcset="
                        ./images/modal/pc-tablet-modal-icecream.jpg     1x,
                        ./images/modal/pc-tablet-modal-icecream@2x.jpg   2x"/>
                    <source 
                        media="(max-width: 479px)"
                        srcset="
                        ./images/modal/phone-modal-icecream.webp   1x,
                        ./images/modal/phone-modal-icecream@2x.webp   2x"
                        type="image/webp"/>
                    <source media="(min-width: 480px)" 
                        srcset="
                        ./images/modal/phone-modal-icecream.jpg     1x,
                        ./images/modal/phone-modal-icecream@2x.jpg   2x"/>
                    <img class="photo-ingridient" src="/src/images/modal/pc-tablet-modal-icecream@2x.png" alt="ice">
                </picture>
            </span>
        </div>

        <div class="container-ingridient">
            <ul class="list ingridient__list">
                <li class="ingridient__item">
                    <div class="macroelement-item">
                        <span class="macroelement-circle">
                            <span class="macroelement-circle-text">320</span>
                        </span>
                        <span class="macroelement-oval">
                            <span class="macroelement-name">kcal</span>
                        </span>
                    </div>
                </li>
                <li class="ingridient-item">
                    <div class="macroelement-item">
                        <span class="macroelement-circle">
                            <span class="macroelement-circle-text">4g</span>
                        </span>
                        <span class="macroelement-oval">
                            <span class="macroelement-name">Prote...</span>
                        </span>
                    </div>
                </li>
                <li class="ingridient-item">
                    <div class="macroelement-item">
                        <span class="macroelement-circle">
                            <span class="macroelement-circle-text">8,2g</span>
                        </span>
                        <span class="macroelement-oval">
                            <span class="macroelement-name">Fats</span>
                        </span>
                    </div>
                </li>
                <li class="ingridient-item">
                    <div class="macroelement-item">
                        <span class="macroelement-circle">
                            <span class="macroelement-circle-text">40,4g</span>
                        </span>
                        <span class="macroelement-oval">
                            <span class="macroelement-name">Carbs</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="contain-ingridient">
            <h3 class="contain-title">Ingredients</h3>
            <p class="contain-item">
                Milk<span>100ml</span>
            </p>
            <p class="contain-item">
                Belgian chocolate<span>20g</span>
            </p>
            <p class="contain-item">
                Cream<span>150 ml</span>
            </p>
            <p class="contain-item">
                Cocoa powder<span>30g</span>
            </p>
            <p class="contain-item">
                Sugar<span>40g</span>
            </p>
            <p class="contain-item">
                Vanilla sugar<span>10g</span>
            </p>
        </div>


        <div class="ingridient-info">
            <form autocomplete="off">
                <div class="modal-field-ingridient">
                    <div class="modal-input-wrap-ingridient">
                        <input class="modal-input-ingridient" type="text" name="name" required
                            placeholder="Name">
                    </div>
                </div>
                <div class="modal-field-ingridient">
                    <div class="modal-input-wrap-ingridient">
                        <input class="modal-input-ingridient" type="tel" name="tel" required
                            placeholder="Phone">
                    </div>
                </div>
                <div class="modal-textarea-ingridient">
                    <textarea class="modal-textarea-input-ingridient modal-input-ingridient" name="comment"
                        rows="10" placeholder="Comment"></textarea>
                </div>

                <button type="submit" class="button modal-button-ingridient">Submit</button>
            </form>
        </div>
    </div>

</div>