<div class="backdrop is-hidden" data-modal_map>
  <div class="modal-map">
    <button type="button" class="modal__close" data-modal-close_map>
      <svg class="modal-close-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-close-btn"></use>
      </svg>
    </button>
    <h3 class="modal-title-map"><b>Our Locations</b></h3>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d20691.33055489336!2d34.5243609!3d49.5898981!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825f6201e3de1%3A0xfa1c1f1114c6f7b0!2z0JrQvtGA0L_Rg9GB0L3Ri9C5INGB0LDQtA!5e0!3m2!1sru!2sat!4v1662296819381!5m2!1sru!2sat"
      width="448"
      height="260"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
      rel="nofollow noopener"
      class="modal-googlemap"
    >
    </iframe>

    <a
      href="https://goo.gl/maps/vcyriLuTpqmXHLJ7A"
      target="_blank"
      rel="nofollow noopener"
      class="button link-map modal-button-map"
      >Open map</a
    >
  </div>
</div>
