
<!-- Products -->
    
<section class="products">
    <div class="container product-container">

        <div class="product-header">
            <label class="product-label">100% natural</label>
            <h2 class="product-title">products</h2>
        </div>

        <ul class="product-list">
            <li class="product-item first">
                <h3 class="product-item__title">ice cream</h3>
                <div class="product-item__wrapper">
                    <p class="product-item__descr">Soft ice cream with a delicate taste. Made with milk, cream, sugar
                        and natural stabilizer</p>
                    <a href="" class="product-item__link">
                        <svg class="product-item__arrow">
                            <use href="/src/images/newSprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>

            </li>
            <li class="product-item second">
                <h3 class="product-item__title">ice coffee</h3>
                <div class="product-item__wrapper">
                    <p class="product-item__descr">Fragrant invigorating drink created from 100% natural ingredients
                        without the use of preservatives and flavor enhancers</p>
                    <a href="" class="product-item__link">
                        <svg class="product-item__arrow">
                            <use href="/src/images/newSprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>

            </li>
            <li class="product-item third">
                <h3 class="product-item__title">milkshakes</h3>
                <div class="product-item__wrapper">
                    <p class="product-item__descr">Sweet drinks based on milk and ice cream, supplemented with syrups,
                        fruits, berries and other sweets of your choice</p>
                    <a href="" class="product-item__link">
                        <svg class="product-item__arrow">
                            <use href="/src/images/newSprite.svg#icon-arrow"></use>
                        </svg>
                    </a>
                </div>

            </li>
        </ul>

    </div>
</section>


