<!-- Products -->

<section class="products">
    <div class="container product-container">

        <div class="product-header">
            <label class="product-label">100% natural</label>
            <h2 class="product-title">products</h2>
        </div>

        <ul class="product-list">
            <li class="product-list__item product-list__item__first">
                <h3 class="product-list__item__title">ice cream</h3>
                <div class="product-list__item__wrapper">
                    <p class="product-list__item__descr">Soft ice cream with a delicate taste. Made with milk, cream,
                        sugar
                        and natural stabilizer</p>
                    <button type="button" href="" class="product-list__item__link">
                        <svg class="product-list__item__arrow">
                            <use href="/src/images/newSprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>

            </li>
            <li class="product-list__item product-list__item__second">
                <h3 class="product-list__item__title">ice coffee</h3>
                <div class="product-list__item__wrapper">
                    <p class="product-list__item__descr">Fragrant invigorating drink created from 100% natural
                        ingredients
                        without the use of preservatives and flavor enhancers</p>
                    <button type="button" href="" class="product-list__item__link">
                        <svg class="product-list__item__arrow">
                            <use href="/src/images/newSprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>

            </li>
            <li class="product-list__item product-list__item__third">
                <h3 class="product-list__item__title">milkshakes</h3>
                <div class="product-list__item__wrapper">
                    <p class="product-list__item__descr">Sweet drinks based on milk and ice cream, supplemented with
                        syrups,
                        fruits, berries and other sweets of your choice</p>
                    <button type="button" href="" class="product-list__item__link">
                        <svg class="product-list__item__arrow">
                            <use href="/src/images/newSprite.svg#icon-arrow"></use>
                        </svg>
                    </button>
                </div>

            </li>
        </ul>

    </div>
</section>