<div class="backdrop is-hidden" data-modal_made>
    <div class="modal-made">
        <button type="button" class="modal__close" data-modal-close_made>
            <svg class="modal-close-icon" width="12px" height="12px">
                <!-- <use href="./photo/sprite-svg.svg#icon-close"> -->
            </svg>
        </button>
        <h1 class="modal-title-made"><b>How it’s made?</b></h1>

        <iframe src="https://www.youtube.com/embed/8WEMZ86Eho8" title="How It's Actually Made - Ice Cream"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen class="video-about">
        </iframe>

        <p class="modal-info-made">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores harum quisquam hic quo distinctio beatae
            veniam sint vitae magni repellat maiores illum iste laborum, delectus quas, necessitatibus autem possimus.
            Expedita!
        </p>
    </div>
</div>