// all

.backdrop {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 1000ms, visibility 1000ms;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal__close {
    width: 20px;
    height: 20px;
    background: transparent;
    border-color: transparent;
    position: fixed;
    color: var(--darkest);
    top: 20px;
    right: 20px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 479px) {
        width: 16px;
        height: 16px;
        top: 8px;
        right: 8px;
    }
}

// all



.modal-buy-now {
    padding: 32px 40px 32px 40px;
    width: 568px;
    max-height: 95%;
    background-color: var(--lightest);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid #F8D24E;
    border-radius: 10px;
    position: absolute;
    overflow-y: auto;
    top: 50%;
    left: 50%;
    // transform: scale(1) translateX(100%);
    transform: translate(-50%, -50%);
    transition: transform 1000ms;


    @media screen and (max-width: 767px) {
        padding: 28px 30px 28px 28px;
        max-width: 280px;
        max-height: 95%;
        overflow-y: auto;
    }
}

.modal-title-buy-now {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--darkest);


    margin-bottom: 24px;
    margin-top: 0;

    @media screen and (max-width: 479px) {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
}

.container-products {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-now__list {
    font-style: normal;
    margin: 0px;
    padding: 0px;

    @media screen and (max-width: 767px) {
        padding-left: 42px;
        padding-right: 42x;
    }
}

.buy-now__item {
    width: 132px;
    height: 138px;
    display: inline-block;
}

.buy-now__item:not(:last-child) {
    margin-right: 38px;

    @media screen and (max-width: 767px) {
        margin-bottom: 80px;
        margin-right: 0;
    }
}


.circle-ice-cream {
    position: absolute;
    width: 132px;
    height: 138px;
    border-radius: 50%;
    z-index: 1050;
    display: inline-block;

    background: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #D9D9D9;
    box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);


}

.circle-ice-cofe {
    position: absolute;
    width: 132px;
    height: 138px;
    border-radius: 50%;
    z-index: 1050;
    display: inline-block;

    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #F8D24E;
    box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.25);

}

.circle-milkshake {
    position: absolute;
    width: 132px;
    height: 138px;
    border-radius: 50%;
    z-index: 1050;
    display: inline-block;

    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #D5753F;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
}

.photo {
    width: 132px;
    height: 131px;
    border-radius: 50%;
    z-index: 1100;

}



.info-ice-cream {
    box-sizing: border-box;
    padding-top: 95px;
    text-align: center;

    position: absolute;
    width: 132px;
    height: 135px;
    z-index: 1000;
    margin-top: 63px;

    border: 2px solid #96AF8C;
    // filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;

}

.info-ice-cofe {
    padding-top: 95px;
    text-align: center;
    position: absolute;
    width: 132px;
    height: 135px;
    z-index: 1000;
    margin-top: 63px;

    background: #EFD478;
    border: 2px solid #EFD478;
    // box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
    border-radius: 15.7808px;

}

.info-milkshake {
    padding-top: 95px;
    text-align: center;
    position: absolute;
    width: 132px;
    height: 135px;
    z-index: 1000;
    margin-top: 63px;

    border: 2px solid #D6936D;
    // filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
    border-radius: 15.7808px;

}

.product-name {
    margin-top: 92px;
    width: 100%;
    height: 20px;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;

    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--dark);
}

.container-info {
    margin-top: 100px;

    @media screen and (max-width: 767px) {
        margin-top: 90px;
    }
}

.modal-field-buy {
    max-width: 368px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    margin-bottom: 16px;
    position: relative;
    text-align: start;
    transition: border-color 250ms cubic-bezier (0.4, 0, 0.2, 1);


    @media screen and (max-width: 479px) {
        margin-bottom: 12px;
    }
}

.modal-field-buy input {
    background-color: transparent;
    border-radius: 10px;
    height: 42px;
    padding-left: 16px;
    outline-color: var(--darkest);
    width: 100%;

    @media screen and (max-width: 479px) {
        height: 32px;
        padding-left: 12px;
    }
}


.modal-input-buy {
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    border: none;
}

.modal-textarea-buy {
    max-width: 368px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    @media screen and (max-width: 479px) {}
}

.modal-textarea-input-buy {
    resize: none;
    width: 100%;
    height: 84px;
    resize: none;
    padding: 11px 16px;
    background-color: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;

    @media screen and (max-width: 479px) {
        height: 64px;
        padding: 8px 12px;
    }
}

.modal-textarea-input-buy::placeholder,
.modal-input-buy::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.01em;

    color: var(--darkest);

    @media screen and (max-width: 479px) {
        font-size: 12px;
        line-height: 140%;
    }
}

.modal-button-buy {
    background: var(--chicken);
    border-radius: 10px;
    color: var(--darkest);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.2;

    display: block;
    box-shadow: none;
    border-radius: 10px;
    border-color: transparent;

    margin: 0 auto;
    padding: 12px 43px;

    @media screen and (max-width: 479px) {
        padding: 7px 43px;
        font-size: 12px;
        line-height: 1.25;
    }

    &:hover {
        background: var(--hover);
        border-radius: 10px;
        color: var(--darkest);
    }

    &:focus {
        background: var(--hover);
        border-radius: 10px;
        color: var(--light);
    }
}
