.modal-made {
    padding: 32px 60px 32px 60px;
    max-width: 568px;
    min-height: 449px;
    background-color: var(--lightest);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid #F8D24E;
    border-radius: 10px;
    position: fixed;
    // position: absolute;
    top: 50%;
    left: 50%;
    // transform: scale(1) translateX(100%);
    transform: translate(-50%, -50%);
    transition: transform 1000ms;

    @media screen and (max-width: 479px) {
        padding: 28px;
        width: 280px;
        min-height: 459px;
    }
}

.modal-title-made {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--dark);

    margin-top: 0;
    margin-bottom: 32px;

    @media screen and (max-width: 479px) {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
}

.video-about {
    width: 100%;
    min-height: 205px;
    margin-bottom: 32px;
    padding-left: 0;
    padding-right: 0;

    @media screen and (max-width: 479px) {
        width: 224px;
        min-height: 199px;
        margin-bottom: 20px;
    }
}

.modal-info-made {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;

    @media screen and (max-width: 479px) {
        font-size: 14px;
        line-height: 1.4;
    }
}